@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.custompos {
  left: 32%;
}
.leftt {
  left: 46.5%;
  top: 60%;
}
.header {
  left: 35%;
}
/* @font-face {
  font-family: "Merriweather";
  src: url("https://fonts.google.com/share?selection.family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900");
} */
.image-add {
  background-image: url(./assests/Car_11.jpg);
}
.image-add-sec {
  background-image: url(./assests/Car_1.jpg);
}
.card_header {
  transform: translateY(225px);
  transition: transform 0.5s ease-in-out;
}
.card_text,
.card_link {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.card:hover .card_header {
  transform: translateY(20px);
}
.card:hover .card_text,
.card:hover .card_link {
  opacity: 1;
}
/* .card img {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  transition: filter 0.5s ease;
}
.card:hover .img {
  filter: brightness(70%);
} */
